doctype html
html(lang="en")
  head
    title= "four"
    | <link rel="stylesheet" href="/assets/styles/style.css">
  body
    div(id="app") !{appString}
    script(src="/assets/js/main.js")
    script(src="/assets/js/common.js")